*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.skip{
    color: orange;
}
.btn{
    text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
  padding: 10px;
  color: white;

}
.header-section{
    display: flex;
    padding: 5%;
}
.half-width{
    width: 50%;
 
}
.img{
    width: 80%;
}
.about-me-section{
    background-image: url(images/about-bg.png);
    background-repeat: no-repeat;
    display: flex;
    padding: 5%;
    height: 100%;

  
}
.image{
    width: 100%;

}
.image-div{
    width: 50%;
   
   
}
.desc-div{
    width: 50% ;
    text-align: center;
}